<div *ngIf="decodedToken">
  <pre> {{decodedToken | json }}</pre>
</div>

<div *ngIf="!decodedToken">
    Aucune donnée trouvée
  </div>

  <h1 *ngIf="isAdmin">
    Profil de {{decodedToken.nickname}}, I got balls of steel !
  </h1>

  <h1 *ngIf="!isAdmin">
    Profil de {{decodedToken.nickname}}
  </h1>

  <div *ngFor="let job of jobs">
    <strong>{{job.title}}</strong>
    <br>
    publiée il y a {{job.publishdate | daysAgo}}
    mise à jour il y a {{job.lastupdate | daysAgo}}
    <div><u>Description :</u> {{job.description | truncate: 5}}</div>  
    <hr>
  </div>