<div *ngIf="!isAuthenticated" class="panel">
  <h3> Créer un compte </h3>

  <div class="form-group col-sm-12">

    <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
      <input type="email" required class="register-input" ngModel name="email" placeholder="Email">
      <input type="text" required class="register-input" ngModel name="nickname" placeholder="Pseudo">

      <hr>
      <input type="password" ngModel name="password" class="register-input" placeholder="Mot de passe" required>
      <input type="password" ngModel name="confirm-password" class="register-input" placeholder="Confirmer le mot de passe" required>



      <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Créer</button>
    </form>
  </div>

</div>